.timings{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height:500px;
    background-image: url('../../../public/images/contact.png');
    align-items: center;
    border: 1px #000;
}

.timing-back{
    padding: 4%;
    height: 50%;
    width: 50%;
    color: #FFF;
    text-align: center;
    font-family: Roboto Slab;
    font-size: 50px;
    font-weight: 400;
   background-color:rgb(0,0,0,0.53);
   
}

.typing{
    color: #000;
text-align: center;
font-family: Roboto Slab;
font-size: 40px;
font-weight: 400;
}

.contact-info{
    display: flex;
    padding: 3%;
    justify-content: space-evenly;
}
.contact-form{
display: flex;
border: 2px #000 ;
background-color: #0474c4;
align-items: center;
}

.submitButton{
    width: 184px;
height: 60px;
flex-shrink: 0;
border-radius: 10px;
background: #000000;
color: #FFF;
font-family: Literata;
font-size: 27px;
font-weight: 400;
}
.submitButton:hover{
    background-color:#02406c;
}

.input{
    display: inline-block;
    width: auto;
    border: none;
    border-bottom: 1px solid #000;
    padding: 5px;
    outline: none;
    background-color: #0474c4;
    width: 50%;
}

.error{
    font-size: medium;
    color: red;
    height: 5px;
}

.label{
    position: relative;
    right: 30%;
    height: 5px;
    font-size: x-large;
    font-weight:300;
    font-family: roboto-slab;
}

