.flip-container {
    perspective: 1000px; /* Depth of the 3D space */
    width:33.33%; /* Adjust the size as needed */
    height: 100%; /* Adjust the size as needed */
  }
  
  /* The flipper element */
  .flipper {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    transition: transform 0.5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Add a smooth transition effect */
  }
  
  
  .front {
    text-align: left;
    color: #FFF;
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 300;
    width: 100%;
    height: 100%;
    background-color: #000;
    backface-visibility: hidden; 
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid transparent; /* You can adjust the border width and style */
  transition: border-color 0.3s ease; 
  }
  
  .front:hover {
    border-color: #FF5722; /* Change the border color to your desired color */
  }
  
h2{
    color: #FFF;
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 300;
  }

  .back {
    color: #FFF;
    font-family: Roboto Slab;
    font-size: 15px;
    font-weight: 200;
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: rotateY(180deg); /* Initially hidden, flipped 180 degrees */
    backface-visibility: hidden; /* Hide the front side when flipped */
    position: absolute;
  }
  
  
  .flip-container:hover .flipper {
    transform: rotateY(180deg); /* Rotate 180 degrees on hover */
  }
  